@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css");
@import url("./cabinet.css");

body {
    /*background: black;*/

}

h2 {
    /* text-align: center;*/
    font-weight: bold;
    color: white;
    font-size: 20px;
}
p {
    /*  text-align: center;*/

    color: white;
    font-size: 14px;
    /*  margin: 0px 500px;*/
}

/***HEADER****/

/* credit: https://codepen.io/jaflo/pen/DwFAq */
#wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    /*animation: move 5s infinite linear;
    background: url(http://www.foxnews.com/live-coverage/sites/foxnews.com.live-coverage/files/styles/style1920x421/public/1920x421-trump-transition-a.png);*/
    height: 200px;
    background-size: auto 100%;
    border-bottom: 5px solid black;
}
@keyframes move {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: -1350px;
    }
}

/*
#header > div {
  margin: 0;
  padding: 0;
  border-right: 2px solid black;
  background-position: center;
  display: block;
  position: absolute;
}
*/
#wrap > .info {
    width: 100%;
    /*padding: 24px;*/

    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
   /* background: rgba(0, 0, 0, .5);*/
    color: #C6A15A;
    text-align: center;
}
#main-content {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url('https://static01.nyt.com/images/2010/08/31/us/31oval/31oval-custom12.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.key-positions {
    text-align: center;
    margin: 0px 20%;
    padding: 10px;
}

/********CIRCLE ANIMATION********/
.circle-list {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 160px;
    height: 160px;
    transform: translate(-50%, -50%);
    transition: all 300ms ease;
}
.circle-list,
.circle-list button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.circle-list button.position-title {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #C6A15A;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
    transition: all .1s;
}

/*.circle-list button.candidate-button {
  border-radius: 50%;
  border: 0;
  background: black;
  height: 120px;
  width: 120px;
}
.circle-list button.candidate-button:hover,
.circle-list button.candidate-button.hover{
  background: white;
}*/
.circle-list button.position-title:hover,
.circle-list button.position-title.hover {
    background: #C6A15A;
}
.circle-list button:focus {
    outline: none;
}
.circle-list ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -130px;
    right: -130px;
    bottom: -130px;
    left: -130px;
    pointer-events: none;
}
.circle-list li {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0 50%;
    transform: rotate(-360deg);
    transition: all .8s ease-in-out;
    pointer-events: initial;
}
.circle-list img.circle-list-item-img {
    transition: opacity 300ms ease;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
}
.circle-list.close li {
    opacity: 0;
}
.cabinet-position {
    width: 250px !important;
    height: 250px !important;
}
span.circle-list-item-label {
    position: absolute;
    z-index: 99;
    width: 100%;
    transform: translateY(-50%);
    display: block;
    left: 0;
    color: #fff;
    right: 0;
    text-align: center;
    font-size: 12px;
    top: 0;
    border-radius: 100%;
    padding-top: 43px;
}
div.position-bios .bio-item {
    opacity: 0;
    pointer-events: none;
    text-align: center;
    position: absolute;
    z-index: 9;
    background: #C6A15A;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -25%);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    width: 0;
    height: 0;
    font-size: 0;
}
div.position-bios .bio-item.active {
    opacity: 1;
    pointer-events: initial;
    width: 310px;
    height: 310px;
    left: calc(27% - 5px);
    top: calc(27% - 5px);
    font-size: 15px;
}
.circle-list > ul > li > a {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: white;
    transform: translateX(-50%);
    padding-left: 50%;
    transition: transform 300ms ease;
    transform-origin: 338% 50%;
    border-radius: 50%;
}
.circle-list > ul > li.active > a {
    transform: scale(1.2);
}
.circle-list > ul > li > a:hover img.circle-list-item-img,
.circle-list > ul > li.active > a img.circle-list-item-img {
    opacity: .2;
}
.circle-list > ul > li > a span {
    opacity: 0;
    transition: opacity 300ms ease, transform .8s ease-in-out;
    font-weight: 800;
    height: 100%;
}
.circle-list > ul > li.no-image > a span,
.circle-list > ul > li > a:hover span,
.circle-list > ul > li.active > a span {
    color: gray;
    opacity: 1;
}
.circle-list.hovered {
    width: 300px;
    height: 300px;
    font-size: 10px;
}
.circle-list.bio-circle {
    width: 310px;
    height: 310px;
}

/*.circle-list.bio-circle button.candidate-button {
  background: white;
}*/
.hover-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    color: #fff;
}
.circle-list.hovered .hover-text {
    opacity: 1;
}
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */

    -webkit-user-select: none;
    /* Chrome/Safari/Opera */

    -khtml-user-select: none;
    /* Konqueror */

    -moz-user-select: none;
    /* Firefox */

    -ms-user-select: none;
    /* Internet Explorer/Edge */

    user-select: none;
    /* Non-prefixed version, currently
    not supported by any browser */
}
.list-of-positions {
    position: relative;
    margin-top: 370px;
    height: 700px !important;
    pointer-events: none;
}
.circle-list li.candidate-confirmed img,
.circle-list li.candidate-confirmed span {
    border: 7px solid #006400;
}


/* COUNTDOWN CLOCK */


#clockdiv div>span,
#clockdiv>div {
  border-radius: 3px;
  display: inline-block
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px
}

#clockdiv>div {
  padding: 10px;
}

#clockdiv div>span {
  padding: 10px;
  background: #000
}

.smalltext {
  padding-top: 5px;
  font-size: 14px
}

.countdown-container {
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0;
  margin: 0 auto;
}

