@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css");
@import url("./cabinet.css");
body {
    /*background: black;*/
}

.swal2-content h2 {
    font-size: 1.5em;
    color: #C6A15A;;
}

/***HEADER****/

/* credit: https://codepen.io/jaflo/pen/DwFAq */

#wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
}

html, body {
    overflow-x: hidden;
    position: relative;
}

/*#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    animation: move 5s infinite linear;
    background: url(http://www.foxnews.com/live-coverage/sites/foxnews.com.live-coverage/files/styles/style1920x421/public/1920x421-trump-transition-a.png);
    height: 200px;
    background-size: auto 100%;
    border-bottom: 5px solid black;
}*/

@keyframes move {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1350px;
    }
}


/*
#header > div {
  margin: 0;
  padding: 0;
  border-right: 2px solid black;
  background-position: center;
  display: block;
  position: absolute;
}
*/

#wrap > .info {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    color: #C6A15A;
    text-align: center;
}

html,
body,
#background-elm {
    height: 100%;
}

#background-elm {
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#background-img {
    /*! margin-top: 100px; */
    text-align: center;
    background-image: url(https://www.jimmycarterlibrary.gov/museum/ovaloffice.jpg);
    background-size: cover;
    height: 100%;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

#main-content {
    text-align: center;
}

#background-overlay {
    /*! margin-top: 100px; */
    height: 100%;
    position: absolute;
    background-position: center;
    background: rgba(0, 0, 0, 0.43);
    width: 100%;
}

.key-positions {
    text-align: center;
    margin: 0px 25%;
    padding: 10px;
    position: absolute;
    top: 100px;
    background-color: rgba(242, 200, 121, 0.5);
    z-index: 10;
}

.key-positions > h2 {
    /* text-align: center;*/
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.key-positions > p {
    /*  text-align: center;*/
    color: white;
    font-size: 16px;
    /*  margin: 0px 500px;*/
}


/********CIRCLE ANIMATION********/

.circle-list {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 160px;
    height: 160px;
    transform: translate(-50%, -50%);
    transition: all 300ms ease;
}

.circle-list,
.circle-list button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.circle-list button.position-title {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #C6A15A;
    border-radius: 50%;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
    transition: all .1s;
}


/*.circle-list button.candidate-button {
  border-radius: 50%;
  border: 0;
  background: black;
  height: 120px;
  width: 120px;
}
.circle-list button.candidate-button:hover,
.circle-list button.candidate-button.hover{
  background: white;
}*/

.circle-list button.position-title:hover,
.circle-list button.position-title.hover {
    background: #C6A15A;
}

.circle-list button:focus {
    outline: none;
}

.circle-list ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: -130px;
    right: -130px;
    bottom: -130px;
    left: -130px;
    pointer-events: none;
}

.circle-list li {
    position: absolute;
    width: 0;
    height: 100%;
    margin: 0 50%;
    transform: rotate(-360deg);
    transition: all .8s ease-in-out;
    pointer-events: initial;
}

.circle-list .circle-list-item-img {
    transition: opacity 300ms ease;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
    background-size: cover;
    background-position: center;
}

.circle-list.close li {
    opacity: 0;
}

.cabinet-position {
    width: 250px !important;
    height: 250px !important;
    pointer-events: initial;
}

span.circle-list-item-label {
    position: absolute;
    z-index: 99;
    width: 100%;
    transform: translateY(-50%);
    display: block;
    left: 0;
    color: #fff;
    right: 0;
    text-align: center;
    font-size: 12px;
    top: 0;
    border-radius: 100%;
    padding-top: 43px;
}

div.position-bios .bio-item {
    opacity: 0;
    pointer-events: none;
    text-align: center;
    position: absolute;
    z-index: 9;
    background: #C6A15A;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -25%);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    width: 0;
    height: 0;
    font-size: 0;
}

div.position-bios .bio-item.active {
    opacity: 1;
    pointer-events: initial;
    width: 310px;
    height: 310px;
    left: calc(27% - 5px);
    top: calc(27% - 5px);
    font-size: 15px;
}

.circle-list > ul > li > a {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: white;
    transform: translateX(-50%);
    padding-left: 50%;
    transition: transform 300ms ease;
    transform-origin: 338% 50%;
    border-radius: 50%;
}

.circle-list > ul > li.active > a {
    transform: scale(1.2);
}

.circle-list > ul > li > a:hover .circle-list-item-img,
.circle-list > ul > li.active > a .circle-list-item-img {
    opacity: .2;
}

.circle-list > ul > li > a span {
    opacity: 0;
    transition: opacity 300ms ease, transform .8s ease-in-out;
    font-weight: 800;
    height: 100%;
}

.circle-list > ul > li.no-image > a span,
.circle-list > ul > li > a:hover span,
.circle-list > ul > li.active > a span {
    color: gray;
    opacity: 1;
}

.circle-list.hovered {
    width: 300px;
    height: 300px;
    font-size: 16px;
}

.circle-list.bio-circle {
    width: 310px;
    height: 310px;
}


/*.circle-list.bio-circle button.candidate-button {
  background: white;
}*/

.hover-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    color: #fff;
    transition: all 300ms ease;
}

.circle-list.hovered .hover-text {
    opacity: 1;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    not supported by any browser */
}

.list-of-positions {
    position: absolute;
    height: 100% !important;
    pointer-events: none;
}

.circle-list li.candidate-confirmed .circle-list-item-img,
.circle-list li.candidate-confirmed span {
    border: 7px solid #006400;
}


/* COUNTDOWN CLOCK */

#clockdiv div>span,
#clockdiv>div {
    border-radius: 3px;
    display: inline-block
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px
}

#clockdiv>div {
    padding: 10px;
}

#clockdiv div>span {
    padding: 10px;
    background: #000
}

.smalltext {
    padding-top: 5px;
    font-size: 14px
}

.countdown-container {
    text-align: center;
    position: absolute;
    top: 54px;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

#countdown-label {
    background-color: black;
    margin-bottom: 0;
    font-size: 16px;
    color: #C6A15A;
}

body {
    overflow-x: hidden;
    position: relative;
}

.lg-hide {
    display: none;
}


/*************************************TITLE SHIMMER************************************/


.shimmer {
    text-align: center;
    color: rgba(242, 200, 121,0.6);
    background: -webkit-gradient(linear, left top, right top, from(#C6A15A), to(#C6A15A), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#C6A15A), to(#C6A15A), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#C6A15A), to(#C6A15A), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

/*************************************LOADER************************************/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: navy;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: red;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #C6A15A;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }

/*************************************MEDIA QUERIES************************************/

@media (max-width: 700px) {
    /* TITLE */
    .info h1 {
        font-size: 3.5rem;
    }
    /* CLOCK */
    #clockdiv div>span {
        padding: 5px;
    }
    .countdown-container {
        top: 90px;
        left: 0;
    }
    /*KEY POSITIONS DESCRIPTION*/
    .key-positions {
        top: 250px;
        display: none;
    }
    .key-positions > p {
        font-size: 14px;
    }
    /*CABINET*/
    .cabinet {
        top: 450px;
        zoom: .6;
        -moz-transform: scale(0.5)  translateY(-50%);
        height: 1380px;
        background: rgba(44, 21, 18, 0.48);
        border: none !important;
        padding: 12px 0 0px 0;
    }
    .lg-hide {
        display: block;
    }

    .cabinet-top {
        display: none;
    }

    .cabinet > .door {
        display: none !important;
    }

    .cabinet .shelf .base {
        display: none;
    }

    .cabinet .shelf .front {
        display: none;
    }

    #main-content .cabinet > .shelf {
        height: 18%;
    }

    #main-content .cabinet .bottle {
        width: 13%;
        top: 20px;
    }

    #main-content .cabinet .shelf .bottle .label {
        width: 100px;
        height: 100px;
        top: 22px;
    }

    #main-content .cabinet .shelf .bottle .note {
        display: none;
    }

    .cabinet .shelf .bottle .position-name {
        bottom: 0px;
    }
}

@media (min-width: 700px) and (max-width: 1024px) {
    /* CLOCK */
    .countdown-container {
        top: 90px;
        left: 0;
    }
    /*KEY POSITIONS DESCRIPTION*/
    .key-positions {
        top: 240px;
    }
    .key-positions > p {
        font-size: 14px;
    }
    /*CABINET*/
    .cabinet {
        /*top: 100%;*/
        zoom: .7;
        -moz-transform: scale(0.7)  translateY(-30%);
        top: 690px;
        z-index: 10;
    }
}

@media (min-width: 1025px) and (max-width: 2150px) {
    /*CABINET*/
    .cabinet {
        zoom: .8;
        -moz-transform: scale(0.8)  translateY(-50%);
        top: 450px;
    }
    /*KEY POSITIONS DESCRIPTION*/
    .key-positions {
        top: 120px;
        margin: 0 30%;
    }
}

@media (min-width: 2150px) and (max-width: 3000px) {
    /*CABINET*/
    .cabinet {
        zoom: .8;
        -moz-transform: scale(0.8)  translateY(-50%);
        top: 400px;
    }
}

@media (min-width: 3000px) {
    /*CABINET*/
    .cabinet {
        zoom: .8;
        -moz-transform: scale(0.8)  translateY(-50%);
        top: 550px;
    }
}
